
    <h3 class='container'>Add the team</h3>

    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}
    
    <form action="/addTeam" method='post' class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input name='team' id="team" type="text" class="validate" value="{{data.team}}">
          <label for="team">Football club</label>
        </div>
        <div class="input-field col s6">
          <input name='estDate' id="estDate" type="number" class="validate" value="{{data.estDate}}">
          <label for="estdate">Team established in:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name='img' id="img" type="text" class="validate" value="{{data.img}}">
          <label for="img">Link for the logo</label>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="input-field col s12">
          <input name='mail' id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
-->   <input type="hidden" name="_csrf" value="{{csrf}}">
      <button class='btn'>Submit</button>
    </form>